* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}


footer {
    position: relative;
    width: 100%;
    background: #ffffff;
    color: #fff;
    min-height: 100px;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
}

footer p {
    color: #000000;
    text-align: center;
    font-size: 0.9em;
}
